do_token          = "CHANGE_ME_DO_TOKEN"
velero_access_key = "CHANGE_ME_SPACES_ACCESS"
velero_secret_key = "CHANGE_ME_SPACES_SECRET"
minio_access_key  = "CHANGE_ME_MINIO_ACCESS"
minio_secret_key  = "CHANGE_ME_MINIO_SECRET"

# Postgres
postgres_root_password = "CHANGE_ME_POSTGRES_ROOT"

# MariaDB
mariadb_root_password = "CHANGE_ME_MARIADB_ROOT"

# Analytics (Vince)
analytics_admin_password = "CHANGE_ME_ANALYTICS_ADMIN_PASSWORD"

# Docker Hub (images privées WordPress)
dockerhub_pat   = "CHANGE_ME_DOCKERHUB_PAT"

# Credentials applicatifs (création DB/users au bootstrap des StatefulSets)
# Postgres : n8n, nextcloud
postgres_app_credentials = [
  {
    name     = "n8n-ffe"
    db_name  = "ffe-automations"
    user     = "ffe-automations"
    password = "CHANGE_ME_N8N_DB_PASSWORD"
  },
  {
    name     = "nextcloud-ffe"
    db_name  = "nextcloud-ffe"
    user     = "nextcloud-ffe"
    password = "CHANGE_ME_NEXTCLOUD_DB_PASSWORD"
  }
]

# MariaDB : wordpress
mariadb_app_credentials = [
  {
    name     = "ffe-website"
    db_name  = "ffe-website"
    user     = "ffe-website"
    password = "CHANGE_ME_WP_DB_PASSWORD"
  }
]

# n8n encryption key (N8N_ENCRYPTION_KEY) et queue Redis
n8n_encryption_key    = "CHANGE_ME_N8N_ENCRYPTION_KEY"
n8n_enable_redis      = true
n8n_redis_password    = "CHANGE_ME_REDIS_PASSWORD"

/*
Registry auth (Zot) - htpasswd (bcrypt)
Login: fullfrontend
Pass: CHANGE_ME_REGISTRY_PASSWORD
*/
registry_htpasswd = "fullfrontend:$2y$05$exampleexampleexampleexampleexa"

# Registry S3 backend
registry_storage_backend = "local" # or "s3"
registry_s3_endpoint     = ""
registry_s3_region       = ""
registry_s3_bucket       = ""
registry_s3_secure       = true
registry_s3_access_key   = ""
registry_s3_secret_key   = ""

acme_email = "CHANGE_ME_ACME_EMAIL"

# WordPress (AS3CF + WP Mail SMTP)
wp_as3_provider   = "do"
wp_as3_access_key = "CHANGE_ME_WP_AS3_ACCESS"
wp_as3_secret_key = "CHANGE_ME_WP_AS3_SECRET"
wp_mail_from      = "CHANGE_ME_WP_MAIL_FROM"
wp_mail_from_name = "CHANGE_ME_WP_MAIL_FROM_NAME"
wp_smtp_host      = "CHANGE_ME_WP_SMTP_HOST"
wp_smtp_port      = "465"
wp_smtp_ssl       = "ssl"
wp_smtp_auth      = true
wp_smtp_user      = "CHANGE_ME_WP_SMTP_USER"
wp_smtp_pass      = "CHANGE_ME_WP_SMTP_PASS"

# Grafana admin
grafana_admin_user     = "admin"
grafana_admin_password = "CHANGE_ME_GRAFANA_ADMIN_PASSWORD"
