\set ON_ERROR_STOP on
%{ for app in apps ~}
-- Create role if missing
DO
$$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '${app.user}') THEN
    CREATE ROLE ${app.user} LOGIN PASSWORD '${app.password}';
  END IF;
END
$$;

-- Create database if missing (cannot be run inside a transaction)
SELECT format('CREATE DATABASE %I OWNER %I', '${app.db_name}', '${app.user}')
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '${app.db_name}')
\gexec

GRANT ALL PRIVILEGES ON DATABASE ${app.db_name} TO ${app.user};
%{ endfor ~}
